<ng-container *ngIf="gameData$ | async as gameData">
    <p class="starting-message">
        {{ gameData.blueCount > gameData.redCount ? "Blue Team" : "Red Team" }} Plays First
    </p>

    <div class="board">
        <ng-container *ngFor="let card of gameData.cards; let i = index">
            <app-card
                [word]="card.word"
                [answer]="card.answer"
                [isAnswer]="true"
                *ngIf="card.answer !== 'BOMB'">
            </app-card>

            <app-exploding-card
                *ngIf="card.answer === 'BOMB'"
                [isAnswer]="true"
                [text]="card.word"></app-exploding-card>
        </ng-container>
    </div>
</ng-container>

<p>Tip: You can click on a card to track the guesses yourself!</p>
