<div class="wrapper">
    <div class="score-border">
        <div class="score-wrapper blue">
            <div class="score" [style.width]="blue().percent + '%'"></div>
            <span class="score-text"
                >{{ blue().score }}/{{ blue().total }}</span
            >
        </div>
    </div>

    

    <p class="playing-first">{{red().total > blue().total ? 'RED' : 'BLUE'}} PLAYS FIRST</p>

    <div class="score-border red">
        <div class="score-wrapper row">
            <div class="score red" [style.width]="red().percent + '%'"></div>
            <span class="score-text red">
                {{ red().score }}/{{ red().total }}</span>
        </div>
    </div>
</div>

<div class="wrapper">
    <div class="players">
        @for(name of gameData().teamBlue; track $index) {
            <div class="player blue">{{name}}</div>
        }
    </div>

    <div class="bombs">
        @if (gameData().bombCount > 4) {
            <span>{{ gameData().bombCount + "x 💣" }}</span>
        } @else { @for (_ of bombArray; track $index) {
            <span>💣</span> 
        } }
    </div>

    <div class="players red">
        @for(name of gameData().teamRed; track $index) {
            <div class="player red">{{name}}</div>
        }
    </div>
</div>