.card {
    display: flex;
    align-items: center;
    border-radius: 50vh;
    border: 2px solid rgba(0, 0, 0, 0.1);
    user-select: none;

    mat-icon {
        color: rgba(0, 0, 0, 0.25);
    }
}

.red {
    background-color: var(--team-a);
    padding: 0.25rem 0.25rem 0.25rem 1rem;
    flex-direction: row-reverse;
    span {
        margin: 0;
        margin-right: 0.5rem;
    }
}
.blue {
    background-color: var(--team-b);
    padding: 0.25rem 1rem 0.25rem 0.25rem;
    span {
        margin-left: 0.5rem;
    }
}
