:host {
    position: absolute;
    margin-top: 5vh;
    margin-inline: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    top: 0;
    padding: 1rem;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.16);
}

.score {
    display: flex;
    width: 25rem;
    align-items: center;
}

.card {
    height: 4rem;
    aspect-ratio: 1.68/1;
    font-weight: bold;
    display: flex;
    align-items: center;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;

    &:last-of-type {
        margin-left: auto;
    }

    .points {
        font-size: 3rem;
    }

    p {
        margin: 0;
        padding: 0;
        margin-inline: auto;
    }
}

.red {
    background-color: var(--team-a);
}

.blue {
    background-color: var(--team-b);
}

.starting-message {
    margin-inline: auto;
    text-transform: uppercase;
    text-align: center;
    margin: 0 1rem;
    font-weight: 600;
}

.bombs {
    display: flex;
}
