<ng-container *ngIf="score$ | async as score">
    <ng-container *ngIf="gameData$ | async as gameData">
        <div class="score">
            <div class="card red">
                <p>
                    <span class="points">{{ score.red }}</span
                    >/{{ gameData.redCount }}
                </p>
            </div>

            <p class="starting-message">
                {{ gameData.blueCount > gameData.redCount ? "Blue Team" : "Red Team" }} Plays
                First
            </p>
            <div class="card blue">
                <p>
                    <span class="points">{{ score.blue }}</span
                    >/{{ gameData.blueCount }}
                </p>
            </div>
        </div>

        <div class="bombs">
            <span *ngFor="let _ of bombCount">💣</span>
        </div>
    </ng-container>
</ng-container>
<!-- <button (click)="getAnswers()">copy answers</button>   -->
