<!-- <app-game-header></app-game-header>
<div class="layout">
  <div class="team-wrapper">
    <h2>Red Team</h2>
    <small *ngIf="startingTeam === 'RED'">Plays First</small>
    <span *ngFor="let name of redTeam">{{ name }}</span>
  </div>
  <div class="middle">

    <div class="board">
      <app-card
        *ngFor="let word of words; let i = index"
        [word]="word"
        [answer]="answers[i]">
      </app-card>
    </div>
  </div>

  <div class="team-wrapper">
    <h2>Blue Team</h2>
    <span *ngFor="let name of blueTeam">{{ name }}</span>
  </div>
</div> -->

<app-game-header [startingTeam]="startingTeam"></app-game-header>

<div class="team-section">
  <app-player-card  *ngFor="let name of redTeam" [red]="true" [name]="name"></app-player-card>
</div>

<div class="board">
  <app-card
    *ngFor="let word of words; let i = index"
    [word]="word"
    [answer]="answers[i]">
  </app-card>
</div>

<div class="team-section">
  <app-player-card  *ngFor="let name of blueTeam" [blue]="true" [name]="name"></app-player-card>
</div>
