.board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5rem;
}

.layout {
    display: grid;
    grid-template-columns: 1fr 60vw 1fr;
    margin-inline: auto;
}

.team-wrapper {
    display: flex;
    flex-direction: column;
    h2, span {
        text-align: center;
    }
    
    h2 {
        font-size: 2rem;
    }

    span {
        font-size: 1.25rem
    }
}