<app-game-header></app-game-header>
<div class="layout">
  <div class="team-wrapper">
    <h2>Red Team</h2>
    <small *ngIf="startingTeam === 'RED'">Plays First</small>
    <span *ngFor="let name of redTeam">{{ name }}</span>
  </div>
  <div class="middle">
    <ng-container *ngIf="score$ | async as score">
      <!-- <div class="score">
        <h1>{{ score.red }}</h1>
        <h1>{{ score.blue }}</h1>
      </div> -->
    </ng-container>
    <div class="board">
      <app-card
        *ngFor="let word of words; let i = index"
        [word]="word"
        [answer]="answers[i]">
      </app-card>
    </div>
  </div>

  <div class="team-wrapper">
    <h2>Blue Team</h2>
    <small *ngIf="startingTeam === 'BLUE'">Plays First</small>
    <span *ngFor="let name of blueTeam">{{ name }}</span>
  </div>
</div>
