.board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 1fr;
    gap: 0.75rem;
    height: 60vh;
    aspect-ratio: 1.68/1;
}

// .middle {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }

// .layout {
//     width: 100vw;
//     height: 100vh;

//     display: grid;
//     grid-template-columns: 1fr 60vw 1fr;
//     margin-inline: auto;
// }

// .team-wrapper {
//     display: flex;
//     flex-direction: column;
//     h2, span {
//         text-align: center;
//         margin: 0;
//     }
    
//     h2 {
//         font-size: 2rem;
//     }

//     span {
//         font-size: 1.25rem
//     }
    
//     small {
//         text-align: center;
//         font-size: 1rem;
//         opacity: 0.8;
//         margin-bottom: 1rem;
//     }
// }

:host {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    

    background: linear-gradient(0.25turn, var(--team-a),var(--bg) 20%, var(--bg) 80%, var(--team-b));

}

.team-section {
    margin: 2rem;
    display: grid;
    gap: 0.25rem;
    grid-template-columns: 1fr;
}

.footer {
    position: fixed;
    bottom: 10vh;
    
    button {
        background-color: rgb(109, 230, 96);
        font-weight: 600;
        padding: 0.5rem 1rem;
        font-size: 1.25rem;
        border-radius: 0.5rem;
        border: 2px solid rgba(0, 0, 0, 0.1);
        transition: box-shadow 200ms ease-in-out, background-color 100ms ease-in-out;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.1);
        cursor: pointer;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        
        &.click {
            box-shadow: 0px 0px 4px rgba(0,0,0,0.1);
            background-color: rgb(73, 123, 67);
        }

        &:hover {
            box-shadow: -4px 4px 4px rgba(0,0,0,0.5);
        }
    }
}